* {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 700px;
    position: relative;
    margin: 0 auto;
  }

  /* Box form for the slideshow */
  .slideshow-box {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
  }

  /* Hide the videos by default */
  .mySlides {
    display: none;
  }

  /* Video styling */
  .mySlides video {
    width: 100%;
  }
  h2{
    text-align: center;
  }